
<nav>
  <ul class='navigation'>
    <li>{{#link-to "receive"}}Receive{{/link-to}}</li>
    <li>{{#link-to "settings"}}Settings{{/link-to}}</li>
    <li>{{#link-to "send"}}Send{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
