{{outlet}}

<h2>Export Wallet</h2>

<button {{action "showSecret" on="click"}}>Show Secret</button>

<div style='display:none' id='secret-key-qr'>
  {{qr-code text=model.secret colorLight="#F7F7F7" width=155 height=155 correctLevel="L"}}
  <p>{{model.secret}}</p>
</div>

